/Debug

###################
# Ignore binaries #
###################
*bin
*.elf
*.map
*.o
/common/build/

######################
# Netbeans           #
######################

nbproject


/wheel-board/src/_gpios.c
/wheel-board/src/_gpios.h
/utils/bus_speed_test/dist/
/utils/bus_speed_test/build/
/tool-board/build/
/tests/build/

tests/robot_tester
